<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script
	src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1-1/jquery.min.js"
	th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

<link href="../static/css/spring-core.css"
	th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />
<meta charset="UTF-8"></meta>
<title>Welcome</title>
</head>
<body>
	<div class="container">
		<h1>SSDDAADDADDDD</h1>
		<h2>jkjjkljkljkljkllljk</h2>
	</div>
</body>
</html>